.League
{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.LeagueBtn
{
    padding: 1em;
    margin-right: 1em;
    background-color: rgb(151, 146, 146, 0.75);
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 0.75em;
}

.LeagueBtn:focus, .LeagueBtnPlus:focus
{
    color: white;
    background-color: rgba(15, 17, 16, 0.5);
}

.LeagueBtnPlus
{
    margin: 1em 0;
    padding: 0.25em 0.5em;
    background-color: rgb(151, 146, 146, 0.75);
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 0.35em;
}