<!-----------------------------------       Ps4           ------------------------------------------------>
<section class="League" [ngClass]="{'hide': toggleService.hiddenPP4L, 'show': !toggleService.hiddenPP4L}">
  <button class="LeagueBtn" *ngFor="let container of containersPP4L, let number of containersPP4L" (click)="toggleService.toggleLeagueRT(); platformComponent.createTable()">
    <h3>{{number + 1}}</h3>
  </button>
  <button class="LeagueBtnPlus" (click)="addPP4L()" >
    <h3>+</h3>
  </button>
  <button class="LeagueBtnMinus" (click)="deletePP4L()">
    <h3>-</h3>
  </button>
</section>
<!-----------------------------------       Xbox          ------------------------------------------------>
<section class="League" [ngClass]="{'hide': toggleService.hiddenPXL, 'show': !toggleService.hiddenPXL}">
  <button class="LeagueBtn" *ngFor="let container of containersPXL, let number of containersPXL" (click)="toggleService.toggleLeagueRT()">
    <h3>{{number + 1}}</h3>
  </button>
  <button class="LeagueBtnPlus" (click)="addPXL()">
    <h3>+</h3>
  </button>
  <button class="LeagueBtnMinus" (click)="deletePXL()">
    <h3>-</h3>
  </button>
</section>
<!-----------------------------------       Pc            ------------------------------------------------>
<section class="League" [ngClass]="{'hide': toggleService.hiddenPPcL, 'show': !toggleService.hiddenPPcL}">
  <button class="LeagueBtn" *ngFor="let container of containersPPcL, let number of containersPPcL" (click)="toggleService.toggleLeagueRT()">
    <h3>{{number + 1}}</h3>
  </button>
  <button class="LeagueBtnPlus" (click)="addPPcL()">
    <h3>+</h3>
  </button>
  <button class="LeagueBtnMinus" (click)="deletePPcL()">
    <h3>-</h3>
  </button>
</section>