article
{
    display: flex;
    flex-direction: row;
}

table
{
    background-color: rgb(151, 146, 146, 0.1);
    padding: 1em;
    border-radius: 1em;
}

tr
{
    text-align: center;
}

td
{
    background-color: rgb(151, 146, 146, 0.7);
}

.Nr, .Num, .Mp, .W, .D, .L, .G, .Pts
{
    width: 3vw;
    height: 5vh;
    background-color: rgb(151, 146, 146, 0.8);
}

.Team
{
    width: 25vw;
    background-color: rgb(151, 146, 146, 0.8);
}

.Form
{
    width: 5vw;
    background-color: rgb(151, 146, 146, 0.8);
}

.Name
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input
{
    background-color: rgb(151, 146, 146, 0.5);
    padding: 0.25em 0 0.25em 1em;
    width: 20vw;
    height: calc(5vh - 0.5em - 4px);
    color: white;
}

input::placeholder
{
    color: white;
}

.NameBtnAccept
{
    cursor: pointer;
    width: 2vw;
    height: 5vh;
    background-color: rgb(151, 146, 146, 0.75);
    background: url("../../assets/img/accepted-151153.svg") no-repeat;
    background-size: contain;
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 0.35em;
}

.NameBtnEdit
{
    cursor: pointer;
    width: 2vw;
    height: 5vh;
    background-color: rgb(151, 146, 146, 0.75);
    background: url("../../assets/img/edit-1103598.svg") no-repeat;
    background-size: contain;
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 0.35em;
}

.TeamBtnPlus
{
    cursor: pointer;
    width: 2vw;
    background-color: rgba(14, 116, 14, 0.75);
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 0.35em;
}

.TeamBtnMinus
{
    cursor: pointer;
    width: 2vw;
    background-color: rgba(116, 8, 8, 0.75);
    border: none;
    border-radius: 0.35em;
}

.TeamBtnPlus:focus, .TeamBtnMinus:focus
{
    cursor: pointer;
    color: white;
    background-color: rgba(15, 17, 16, 0.5);
}

.pl-1
{
    padding-left: 1em;
    height: 5vh;
    line-height: 5vh;
}

.pl-0
{
    padding-left: 0;
}

.pr-0
{
    padding-right: 0;
}

.hide
{
    display: none;
    height: 5vh;
}

.show
{
    visibility: visible;
    height: 5vh;
}