tr
{
    text-align: center;
}

td
{
    background-color: rgb(151, 146, 146, 0.5);
}

.Nr, .Mp, .W, .D, .L, .G, .Pts
{
    width: 3vw;
    background-color: rgb(151, 146, 146, 0.8);
}

.Team
{
    width: 25vw;
    background-color: rgb(151, 146, 146, 0.8);
}

.Form
{
    width: 5vw;
    background-color: rgb(151, 146, 146, 0.8);
}

.Name
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input
{
    background-color: rgb(151, 146, 146, 0.5);
    width: 20vw;
    padding: 0.25em 0;
    margin-right: 1em;
}

input::placeholder
{
    color: white;
}

.NameBtnAcc
{
    cursor: pointer;
    width: 2vw;
    padding: 0 0.2em;
    background-color: rgb(151, 146, 146, 0.75);
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 0.35em;
}

.TeamBtnPlus
{
    cursor: pointer;
    width: 2vw;
    background-color: rgba(14, 116, 14, 0.75);
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 0.35em;
}

.TeamBtnMinus
{
    cursor: pointer;
    width: 2vw;
    background-color: rgba(116, 8, 8, 0.75);
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 0.35em;
}

.TeamBtnPlus:focus, .TeamBtnMinus:focus, .NameBtnAcc:focus
{
    cursor: pointer;
    color: white;
    background-color: rgba(15, 17, 16, 0.5);
}

.hide
{
    visibility: hidden;
}

.show
{
    visibility: visible;
}