<article>
  <section>
    <div class="Platform">
      <button class="PlatformBtn" (click)="toggleService.togglePlatformP4L()">
        <h2 class="Ps4">Ps4</h2>
      </button>
      <button class="PlatformBtn" (click)="toggleService.togglePlatformXL()">
        <h2 class="Xbox">Xbox</h2>
      </button>
      <button class="PlatformBtn" (click)="toggleService.togglePlatformPcL()">
        <h2 class="Pc">Pc</h2>
      </button>
    </div>
    <app-league></app-league>
  </section>
  <h3></h3>
  <app-table *ngFor="let table of tables"></app-table>
</article>